body {
    margin: 0;
    padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.BDR {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Contenu {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
